<style>
  .message-content { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; max-width: 600px; font-size: 18px; line-height: 24px; }
</style>

<div class='message-content'>
  <p>Cześć {{name}}!</p>
  <br />
  <p>W celu zresetowania hasła kliknij w link: <a href={{link}}>Zresetuj moje hasło</a></p>
  <p>Jeżeli nie prosiłeś/aś o zmianę hasła, zignoruj tę wiadomość</p>
</div>